<ngx-spinner size="medium"
color="#fff"
type="ball-scale-multiple" [fullScreen]="true"> 
<p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<!-- navbar start -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Firebase Crud With Angular</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>



  <!-- navbar end -->

<div class="container">
    <!-- modal button -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addNoteModal">Creat Note <i
            class="bi bi-file-plus"></i></button>

    <!-- add modal -->

    <div class="modal fade" id="addNoteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Daily Notes</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="noteForm">
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Note Title:</label>
                            <input type="text" class="form-control" formControlName="title" id="recipient-name">
                        </div>
                        <div class="mb-3">
                            <label for="message-text" class="col-form-label">Note Description:</label>
                            <textarea class="form-control" formControlName="description" id="message-text"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" (click)="addNote()" [disabled]="!noteForm.valid">Add
                        Note</button>
                </div>
            </div>
        </div>
    </div>


    <!-- edit mOdal -->

    <div class="modal fade" id="editNoteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Notes</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="editForm">

                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Note Title:</label>
                            <input type="text" class="form-control" formControlName="edit_title"  id="recipient-name">
                        </div>
                        <div class="mb-3">
                            <label for="message-text" class="col-form-label">Note Description:</label>
                            <textarea class="form-control" formControlName="edit_description" id="message-text"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" (click)="updateNotes()">update Note</button>
                </div>
            </div>
        </div>
    </div>

    <!-- card -->
    <div class="row">
        <div class="col-md-4" *ngFor="let  note of notesData">
            <div class="card card-body" >
                <h4>{{note.note_title}}</h4>
                <p class="text-muted">{{note.not_dec}} </p>

                <div class="d-flex align-item-center">
                    <span class="mx-3">
                        <i class="bi bi-pen" data-bs-toggle="modal" data-bs-target="#editNoteModal" (click)="getAllDetails(note)"></i>
                    </span>
                    <span class="mx-3">
                        <i class="bi bi-trash" (click)="deleteNotes(note)"></i>
                    </span>


                </div>
            </div>
        </div>
    </div>

    <!-- <table class="table bg" style="border:1px solid black ;">
        <thead>
          <tr>
            
            <th scope="col">Note Title</th>
            <th scope="col">Note Des</th>
            <th scope="col">Action</th>
            
          </tr>
        </thead>
        <tbody  *ngFor="let  row of notesData">
          <tr>
            
            <td>{{row.note_title}}</td>
            <td>{{row.not_dec}}</td>
            <td> <span class="mx-3">
                <i class="bi bi-pen" data-bs-toggle="modal" data-bs-target="#editNoteModal" (click)="getAllDetails(row)"></i>
            </span>
            <span class="mx-3">
                <i class="bi bi-trash" (click)="deleteNotes(row)"></i>
            </span></td>
            
          </tr>
        
        
        </tbody>
      </table> -->

      
</div>